<h1> Welcome to Field Associates! </h1>

<h2> Services </h2>
<ul>
  <li>1. Quality Control </li>
  <li>2. Bidding & Hiring of Sub-Contractors </li>
  <li>3. Sub-Contractor Payments </li>
  <li>4. Control Disbursements of Funds </li>
  <li>5. Project Scheduling </li>
  <li>6. Detailed Cost Estimate </li>
  <li>7. Construction Scheduling </li>
  <li>8. Project Record Keeping </li>
  <li>9. Coordinate Meetings and Bids </li>
  <li>10. Project Reports </li>
  <li>11. Safety Standards </li>
  <li>12. Request for Change Orders </li>
  <li>13. Final Completion Documents </li>
  <li>14. Permit and Ceritifcate of Occupancy Expediting </li>
</ul>

<h1> Inspection of Work -Will verify that all construction, performance and materials are performed in a satisfactory and timely manner. Quality control tests performed and insepction reports submitted.</h1>
<h2>Sub-Contractors - Will be hired who are licensed and properly qualified for your specific Project. We will oversee their performance and verify that their work is done in an efficient and workmanlike manner and in keeping with the requirements of the plans and specifactions. </h2>

<h3> Sub-Contractor Payments - Review all invoices for paymetns submitted, partial payments, payments for extra work, substantial completion, final pyemnts and verify all estimates for payments of work performed </h3>
<h4> Monthly Budget Reports- Updating the buget for your Project, including a comparison of the original budget with current disbursements and the esimated cost to complete. </h4>
<h5>Project Schedule - Will show all major bnechmarks involved in the design, construction of hte Project, their relationships, start dates, completion dates and planned durations. </h5>
<h6>