<p>Field Associates, P.C. is a multi-disciplined consulting engineering firm, centrally located in Nassau County.  We specialize in Environmental Engineering, Electrical, Mechanical (HVAC), Plumbing, Construction Management and Design Services. We were established in February 1975.</p>

<p>We have served as consultants to a wide variety of clients including Dormitory Authority State of New York, NYS & NYC Department of Transportation, NYS Department of Environmental Conservation, NYC Department of Environmental Protection, Port Authority of NY & NJ, NYS Office of General Services, and other Federal, State and Municipal agencies, as well as private industry. Field Associates is a registered MBE/DBE firm with the State and City of New York.</p>

<p>We offer a competent, well-integrated and experienced engineers, designers and technical support personnel.  Field Associates' team has the professional talent and innovative know-how to service a full range of Engineering Services.  A Licensed Professional Engineer leads each discipline.  They are all familiar with the New York State, New York City and BOCA Building Code Guidelines.</p>
