<h1>ENVIROMENTAL ENGINEERING:</h1>
<p>Field Associates performs Phase I, II, and III Environmental Impact Studies, Environmental Assessment for Industrial, Commercial and Transportation Projects including:</p>
<ul>
  <li>Investigations</li>
  <li>Air Quality Studies</li>
  <li>Noise Study</li>
  <li>Compliance with Environmental Laws (Regulations & Permits)</li>
  <li>Surface Water Quality Studies</li>
  <li>Freshwater & Tidal Wetlands Investigations</li>
  <li>Ecological Studies</li>
  <li>Cultural Resources Study</li>
  <li>Flood Plain Study</li>
  <li>Energy Analysis</li>
  <li>Visual Resource Assessment (VRA)</li>
  <li>Underground Storage Tank Services</li>
  <li>Hazardous Materials Assessment</li>
  <li>Hazardous Waste Assessment Report</li>
  <li>Asbestos Assessment</li>
  <li>Public Involvement Meetings and Open House Forums</li>
</ul>
<h2>HIGHWAY & CIVIL ENGINEERING:</h2>
<p>Field Associates P.C. has completed Highway & Civil Engineering, Design & Construction Maintenance Projects throughout New York State:</p>
<ul>
<li>Bridge Design & Inspection</li>
<li>Phases I thru VI</li>
<li>Highway Drainage & Culvert Designs</li>
<li>Construction Management & Inspection</li>
<li>Signage & Pavement Markings</li>
<li>Highway Lighting & Traffic Signals</li>
<li>Retaining Walls</li>
<li>Utilities</li>
<li>Traffic Maintenance</li>
<li>Sanitary Systems</li>
<li>Parking Fields & Recreation Areas</li>
<li>Water Distribution Systems</li>
<li>Waterfront Structures</li>
<li>Site Selection & Development</li>
<li>Mapping</li>
<li>Sewage Treatment Systems</li>
<li>Demolition of Structures</li>
<li>New Building Design & Construction</li>
</ul>
<h3>ELECTRICAL ENGINEERING:</h3>
<p>From studies to full-scope projects, such as Design & Construction Management Services. Our Electrical Department and its Team of experts have completed projects embracing:</p>
<ul>
<li>Electrical Power Distribution</li>
<li>Motor Controls</li>
<li>Highway & Bridge Lighting</li>
<li>Water & Sewer Plant Electrical Systems</li>
<li>Telemarketing Devices</li>
<li>Pumping Stations</li>
<li>Alarm & Intrusion Detection Systems</li>
<li>Emergency Generators</li>
<li>Rehabilitation of Buildings</li>
<li>Security Systems</li>
<li>Fire Detection</li>
<li>Energy Conservation Analysis</li>
<li>Site Utilities</li>
<li>Traffic Signals</li>
<li>Parking Fields</li>
<li>Recreational Areas</li>
<li>Construction Management</li>
<li>Feasibility Studies</li>
</ul>