<h1> Field Associates has completed or contributed to:</h1>
<ul>
  <li>                                          <h3>Harlem State Office Building:</h3>
    <p>Renovation and Improvements New Fire Command Station & TV Security:  Work include electrical distribution, replacement of switchgear, underground distribution system, scheduling, planning, constructability review, construction cost estimate, construction documents, procurement services, site conditioning, safety and quality assurance, monitoring progress of work, information management system to tract all pertinent project information, reporting, contract closeout, review of claims and work distribution, construction field work and deliverables.  These include evaluation of construction bids.  Revisions to bid documents as required.  Budgeting; estimating.  Conducted bi-weekly meetings; preparation of reports; weekly inspections during construction phase.</p></li>

    <li><h3>T.O.B. Town Hall – Electrical & Mechanical Upgrade:</h3>
      <p>Pre-construction, construction and post-construction phase services, safety and quality assurance, electrical distribution, scheduling, planning, constructability review, construction cost estimate, construction documents, procurement services, site conditioning, contract closeout, review of claims and work distribution, construction field work and deliverables.</p>
      <h5>Owner: Town of Oyster Bay.</h5>
    </li>

    <li>
      <h3>JFK International Airport, International Arrival Building - Electrical & Mechanical Improvements:</h3>

      <p>Construction Management services, electrical distribution, scheduling, planning, constructability review, construction cost estimate, construction documents, procurement services, pre-construction, construction and post-construction phase services, safety and quality assurance, monitoring progress of work, information management system to tract all pertinent project information, reporting, site conditioning, contract closeout, review of claims and work distribution, construction field work and deliverables.</p>
      <h5>Owner: PA of NY & NJ, Aviation Division.</h5>
    </li>

    <li>
      <h3>St. Mary’s Outpatient Health Center,
        Brooklyn, New York – Emergency Generator    & Heating System:</h3>

        <p>Work include electrical distribution, generator upgrades, replace the medium voltage switchgear, replace the medium voltage underground distribution system, replace panels and feeders, automatic transfer switch and emergency distribution panel, scheduling, planning, constructability review, construction cost estimate, construction documents. Evaluation of construction bids.  Revisions to bid documents as required.  Budgeting; estimating.  Conducted bi-weekly meetings; preparation of reports; weekly inspections during construction phase.  Site conditioning, safety and quality assurance, monitoring progress of work.</p>

        <h5>Owner: Dormitory Authority, State of NY</h5>
      </li>

      <li>
        <h3>Manhattan Psychiatric Center – Emergency Generator System:</h3>
        <p>Work consist of pre-construction, construction and post-construction phase services,  electrical distribution, generator upgrades, replace the medium voltage switchgear, replace the medium voltage underground distribution system, replace panels and feeders, automatic transfer switch and emergency distribution panel.  Constructability review, construction cost estimate, construction documents, procurement services, site conditioning, safety and quality assurance, monitoring progress of work, reporting, contract closeout, review of claims and work distribution, construction field work and deliverables.  Revisions to bid documents as required.  Budgeting; estimating.  Meetings and  preparation of reports.</p>

        <h5>Owner: Dormitory Authority State of NY.</h5>
      </li>

      <li>
        <h3>Manhattan Psychiatric Center – Emergency Generator System:</h3>
        <p>Work consist of pre-construction, construction and post-construction phase services,  electrical distribution, generator upgrades, replace the medium voltage switchgear, replace the medium voltage underground distribution system, replace panels and feeders, automatic transfer switch and emergency distribution panel.  Constructability review, construction cost estimate, construction documents, procurement services, site conditioning, safety and quality assurance, monitoring progress of work, reporting, contract closeout, review of claims and work distribution, construction field work and deliverables.  Revisions to bid documents as required.  Budgeting; estimating.  Meetings and  preparation of reports.</p>

        <h5>Owner: Dormitory Authority State of NY.</h5>
      </li>

      <li>
        <h3>Planting Fields Arboretum, South Oyster Bay, NY - Rehabilitation of Emergency Generator & Heating System:</h3>
        <p>Replace the medium voltage switchgear, replace the medium voltage underground distribution system, replace panels and feeders, automatic transfer switch and emergency distribution panel,
          electrical distribution, generator upgrades, scheduling, planning, constructability review, construction site conditioning, safety and quality assurance, monitoring progress of work, information management system to tract all pertinent project information, reporting, contract closeout. Meetings; preparation of reports; weekly inspections during construction phase.  Review of claims and work distribution, construction field work and deliverables.</p>
          <h5>Owner: NYS, Office of Parks & Historic    Preservation, NY.</h5>
        </li>

        <li>
         <h3>Bellevue Hospital Center.
          Emergency Generator, For Life Safety System. </h3>

          <p>Work include generator upgrades, electrical distribution, replace the medium voltage switchgear, replace the medium voltage underground distribution system, replace panels and feeders, automatic transfer switch and emergency distribution panel.  Scheduling, planning, constructability review, construction cost estimate, construction documents, site conditioning, safety and quality assurance, weekly inspections during construction phase.  Reporting, contract closeout, review of claims and work distribution, construction field work and deliverables.  These include evaluation of construction bids.  Revisions to bid documents as required.  Budgeting; estimating.  Bi-weekly meetings; preparation of reports.</p>

          <h5>Owner: New York City, Health & Hospital Corp.</h5>
        </li>

        <li>
          <h3>Parkside Correctional Facilities Bronx, New York - Mechanical and Electrical Rehabilitation:</h3>
          <p>Project provided design services for the upgrade of electrical distribution panels and fixtures throughout the facility.  Work included inspections and cost estimating.   Installation of vandal-proof lighting.  Connections to UPS systems.  HVAC ventilation ductwork.  Security backup lighting.  Installation of fans and registers.</p>

          <h5>Owner: New York State, Office of General Services.</h5>
        </li>
      </ul>